:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #f9fafa;
  --color-dark: #11181d;
  --color-dark-primary: #0c1a24;
  --color-dark-secondary: #10212f;
  --color-blue: #2f95e3;
  --color-blue-light: #1fc0ff;
  --color-text-primary: var(--color-white);
  --color-text-secondary: #a9bbcb;


  --background-gradient-start: #0b1f2e;
  --background-gradient-end: #0c2436;
  --outline-gradient-start: #3fa3ef;
  --outline-gradient-end: #1d3b53;
}