:root {
  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 24px;
  --font-size-h5: 20px;
  --font-size-h6: 16px;

  --font-size-normal: 18px;
  --font-size-small: 16px;
  --font-size-extra-small: 14px;

  --line-height-default: 1.75;
  --line-height-dense: 1.5;
  --line-height-h1: 1.2;
  --line-height-h2: 1.3;
  --line-height-h3: 1.3;
  --line-height-h4: 1.5;
  --line-height-h5: 1.5;

  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
}