@import 'reset';
@import 'fonts';
@import 'colors';
@import 'border-radius';
@import 'box-shadow';
@import 'gaps';
@import 'durations';
@import 'theme';
@import 'section';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-default);
  background: var(--theme-background-primary);
  color: var(--color-text-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

p, span {
  color: var(--color-text-secondary);
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}